for and while loops

for- step based loop 

for i in range (10);
 print (i)

 - used for 
    - iterating over a sequence (list,tuple,string)
    - iterating over a range

In [3]:
 movies = ['shrek','kungfu panda','mermaid','holiday','the jugle book','stranger things',
           'kgf','bahubali', 'aladdin','the lion king']

In [2]:
print (f'total movies = {len(movies)}')

total movies = 10

In [4]:
for movie in movies:
    print (movie)

shrek
kungfu panda
mermaid
holiday
the jugle book
stranger things
kgf
bahubali
aladdin
the lion king

In [6]:
for movie in movies :
     print( movie, len(movie))

shrek 5
kungfu panda 12
mermaid 7
holiday 7
the jugle book 14
stranger things 15
kgf 3
bahubali 8
aladdin 7
the lion king 13

In [10]:
for movie in movies:
    print (f'{movie:40} {len(movie)}')

shrek                                    5
kungfu panda                             12
mermaid                                  7
holiday                                  7
the jugle book                           14
stranger things                          15
kgf                                      3
bahubali                                 8
aladdin                                  7
the lion king                            13

In [18]:
nums = [32,56,23,56,12,45,34,67,10]
for i in nums:
   print(i, i**2)

32 1024
56 3136
23 529
56 3136
12 144
45 2025
34 1156
67 4489
10 100

In [19]:
nums = [ 32,56,23,56,12,45,34,67,10]
for i in nums:
    print(i,i+2)

32 34
56 58
23 25
56 58
12 14
45 47
34 36
67 69
10 12

In [20]:
sum (nums)

335

In [21]:
total_evens = 0
for i in nums:
    if i%2==0:
        total_evens += i
print (total_evens)

200

In [22]:
for i in nums:
    print(i) 
    if i>60:
        break

32
56
23
56
12
45
34
67

In [23]:
x =['apple','orange','banana',' ','mango']
for item in x:
    print(item)

apple
orange
banana

mango

In [25]:
x =['apple','mango','orange','','banana']
for item in x:
    if len (item)==0:
        break 
    print(item)

apple
mango
orange

In [2]:
errors =0
while True:
    username = input ('enter username:')
    password = input ('enter password:')
    if username == 'admin'and password =='secret':
      print('login successful')
      break
    elif errors == 3:
      print('too many errors')
      break
    else:
      print('invalid username/password')
      errors+=1

invalid username/password
invalid username/password
login successful

In [3]:
x =[
    ['warbraeker',455],
    ['the way of king',599],
    ['words of radiance',699],
    ['art and culture',566],
    ['rhythm of war',455],
]

In [4]:
for item in x:
    for data in item:
     print(data)
     print('--')

warbraeker
--
455
--
the way of king
--
599
--
words of radiance
--
699
--
art and culture
--
566
--
rhythm of war
--
455
--